#nav-links {
	width: 100%;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 7vh;
}
.change {
	margin-left: 10px;
	font-size: larger;
	color: rgb(45, 209, 135);
	background: transparent;
	text-decoration: underline rgba(45, 209, 135, 0.473);
	opacity: 0.7;
	transition: opacity 150ms ease-in;
}
.change:hover {
	opacity: 1;
}
.change:first-child {
	margin-left: 0;
}
.activeLink {
	color: rgb(10, 117, 69);
	text-decoration-color: rgb(45, 209, 135);
	opacity: 1 !important;
}
#nav-links i {
	margin-left: -5px;
}
#nav-links button:last-child {
	margin-left: 35px;
}
#testInfo,
#dodont {
	width: 100%;
	display: inline-flex;
	justify-content: space-around;
	/* border-top: 2px solid gainsboro; */
}
#testInfo div {
	display: inherit;
	flex-direction: column;
	align-items: center;
}
#testInfo img {
	max-height: 20vh;
}
/*  */
.beforeStart h3 {
	color: #45b3e0;
}
.beforeStart table {
	font-size: 17px;
	border-collapse: collapse;
	flex-wrap: wrap;
	border-top: 2px solid gainsboro;
}
#candInfo {
	max-width: 30vw;
}
.beforeStart table th,
.beforeStart table td {
	text-align: left;
	padding: 2px 10px;
	border-bottom: 2px solid gainsboro;
}
.beforeStart table td {
	overflow-wrap: anywhere;
}
.beforeStart table th:first-child,
.beforeStart table td:first-child {
	border-right: 2px solid gainsboro;
	overflow-wrap: unset !important;
	/* min-width: max-content !important; */
}
.beforeStart table th {
	border-bottom: 2px solid gainsboro;
}
#secInfo {
	margin-top: 5vh;
}
#secInfo table th:nth-last-child(2),
#secInfo table td:nth-last-child(2) {
	text-align: center;
	border-left: 2px solid gainsboro;
}
#secInfo td:first-child {
	text-align: center;
}
#secInfo table th:last-child,
#secInfo table td:last-child {
	border-left: 2px solid gainsboro;
}
/* For Verification */
#verify,
#faq,
#questionnaire {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#verify h3 {
	margin-top: 4vh;
}
#verify > div {
	display: flex;
	flex-direction: column;
	margin-top: 1vh;
}
#verify p,
#verify ul {
	text-align: left;
}
#verify > div:nth-child(2) {
	align-items: flex-start;
}
#verify > div:nth-child(4) {
	flex-direction: row;
	flex-wrap: wrap;
	flex-flow: wrap;
}
#verify div p {
	font-size: large;
	margin-top: 1vh;
}
#verify .fa-check {
	font-size: x-large;
}
#verify video,
.status video {
	display: block;
	object-fit: contain;
	border-radius: 3px;
	border: 2px solid gainsboro;
}
#verify video {
	max-height: 25vh;
}
#verify > div:nth-child(4) > div:nth-child(2) {
	margin-left: 3em;
}
#verify > p:last-child {
	margin-top: 4vh;
}
/* For Do(s) and Don't(s) */
#dodont > div {
	width: 65%;
	display: inline-flex;
}
#dodont > div > div {
	width: 50%;
}
#dodont > div > div:first-child p {
	margin-top: 1.2vh;
}
#dodont p {
	margin-top: 1vh;
	text-align: left;
}
#dodont div div:first-child p::before {
	content: "\2714";
	padding: 5px 0;
}
#dodont div div:first-child p::before,
.beforeStart .fa-check {
	margin-right: 8px;
	color: rgb(45, 209, 135);
}
#dodont div div:last-child p {
	padding-left: 10px;
}
#dodont div div:last-child p::before {
	content: "\2718";
	padding: 5px 0;
	margin-right: 8px;
	color: grey;
}
#dodont h3 {
	border-bottom: 2px solid gray;
}
#dodont > div > div:last-child {
	border-left: 2px solid gray;
}
/* FAQs */
#faq > div {
	width: 85%;
	display: inline-flex;
	margin-top: 5vh;
	animation: fadeIn 300ms ease-in;
}
#faq > div > div:nth-child(2) {
	margin-left: 5%;
}
#faq > div > div {
	width: 50%;
	padding: 10px;
	/* border: 1px solid rgb(255, 0, 0); */
	border-radius: 3px;
	box-shadow: 0 0 4px gray, 0 0 18px gray;
}
#faq p {
	margin: 0;
	text-align: left;
	color: gray;
	font-size: medium;
}
@media only screen and (max-width: 992px) {
	#dodont > div {
		width: 80%;
	}
	#candInfo {
		max-width: 45vw;
	}
}

@media only screen and (max-width: 768px) {
	.beforeStart table {
		font-size: medium;
	}
	#candInfo {
		max-width: unset;
	}
	#testInfo,
	#dodont > div {
		flex-direction: column;
		width: 100%;
	}
	#dodont > div > div {
		width: 90%;
	}
	#dodont div:last-child {
		margin-top: 5vh;
		border-left: none !important;
	}
	#testInfo > div {
		margin-top: 5vh;
	}
	#faq > div {
		flex-direction: column;
		width: 90%;
	}
	#faq > div > div {
		width: 100%;
	}
	#faq > div > div:nth-child(2) {
		margin: 0;
		margin-top: 5vh;
	}
}
@media only screen and (max-width: 650px) {
	#nav-links {
		flex-direction: column;
		/* text-align: left; */
		padding-bottom: 5vh;
		border-bottom: 2px solid gray;
	}
	#secInfo td:nth-child(2) {
		width: 100% !important;
	}
	#verify > div:last-child {
		justify-content: center;
	}
	#verify > div:last-child > div:nth-child(2) {
		margin-left: 0;
	}
	#dodont div div:first-child p {
		padding-left: 10px;
	}
}
